[Unit]
Description=Your service description here
After=network-online.target usb.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /home/nx/horizon/YU/start.sh
ExecStop=

[Install]
WantedBy=multi-user.target
